h1
  a(href="/") TALK:
  =" "+chat.name
.content
  - for (var i = chat.posts.length-5; i < chat.posts.length; i++)
    - var post = chat.posts[i]
    div.post(name=i+1,class=post.user.id == user.id ? "you" : "")
      .user(data-id=post.user.id, data-name=post.user.name)= post.user.name
      .post-post(data-date= post.date)= post.post
br
.controls
  textarea#new_post
  br
  input#send(type="button", value="Send")
  input#load(type="button", value="Load")

script
  var USER = {
    id : "#{user.id}"
  , name : "#{user.name}"
  }
script(src="/js/jquery-1.6.3.min.js")
script(src="/js/chat.js")
